svg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.icon {
  position: relative;
  width: 34px;
  height: 0;
  padding-top: 29px; }
  .icon.sq20 {
    width: 20px;
    height: 0;
    padding-top: 20px; }

* {
  outline: 1px dotted red !important; }

ul.list-inline li {
  display: inline-block; }

.notice {
  padding: 15px;
  border-radius: 2px;
  position: relative;
  margin-bottom: 30px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  font-family: sans-serif;
  font-size: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select option,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.row {
  position: relative;
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row > div {
    font-size: 0.80952rem;
    padding: 15px; }

html {
  font-size: 111%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html, body {
  height: 100%; }

@media screen and (min-width: 768px) {
  html {
    overflow: hidden; }
  body {
    overflow: auto; } }

body {
  font-size: 1rem;
  line-height: 1.60975;
  position: relative;
  min-height: 100%;
  color: #242424;
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F4F4; }

img {
  display: block;
  max-width: 100%; }

li {
  list-style-type: none; }

ul, dl, dt, dd, li {
  margin: 0;
  padding: 0; }

fieldset {
  border: 0; }

hr {
  display: block;
  height: 0;
  border: 0;
  visibility: hidden; }

::-moz-selection {
  color: black;
  background: #c2c6ff;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms; }

::selection {
  color: black;
  background: #c2c6ff;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms; }

h1, h2, h3, .lead {
  font-family: serif;
  font-weight: 600; }

p {
  margin-top: 1rem;
  margin-bottom: 1rem; }

h1 {
  font-size: 1.61905rem;
  margin-top: 1.61905rem;
  margin-bottom: 0; }

h2 {
  font-size: 1.28571rem;
  margin-top: 1.28571rem;
  margin-bottom: 0; }

h3 {
  font-size: 1.04762rem;
  margin-top: 1.04762rem;
  margin-bottom: 0; }

.lead {
  font-weight: normal;
  font-size: 2.61905rem;
  line-height: 1.28979; }

.small {
  font-size: 0.80952rem; }

pre {
  tab-size: 2;
  width: auto;
  position: relative;
  overflow-x: scroll;
  white-space: pre;
  white-space: -moz-pre !important;
  white-space: -pre;
  white-space: -o-pre;
  word-wrap: break-all;
  display: block;
  padding: 15px;
  background-color: #D7D7D7;
  font-size: 0.80952rem; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: #32313d; }

::-webkit-scrollbar-track {
  background: #99989e; }

body {
  scrollbar-face-color: #32313d;
  scrollbar-track-color: #99989e; }

code {
  background: #D7D7D7;
  padding: 1px 5px;
  margin-left: 5px;
  margin-right: 5px; }

a {
  text-decoration: none; }

.col {
  position: relative;
  overflow: hidden;
  width: 100%;
  float: left; }
  @media screen and (min-width: 480px) {
    .col.xs-w1 {
      width: 8.33333%; }
    .col.xs-w2 {
      width: 16.66667%; }
    .col.xs-w3 {
      width: 25%; }
    .col.xs-w4 {
      width: 33.33333%; }
    .col.xs-w5 {
      width: 41.66667%; }
    .col.xs-w6 {
      width: 50%; }
    .col.xs-w7 {
      width: 58.33333%; }
    .col.xs-w8 {
      width: 66.66667%; }
    .col.xs-w9 {
      width: 75%; }
    .col.xs-w10 {
      width: 83.33333%; }
    .col.xs-w11 {
      width: 91.66667%; } }
  @media screen and (min-width: 768px) {
    .col.sm-w1 {
      width: 8.33333%; }
    .col.sm-w2 {
      width: 16.66667%; }
    .col.sm-w3 {
      width: 25%; }
    .col.sm-w4 {
      width: 33.33333%; }
    .col.sm-w5 {
      width: 41.66667%; }
    .col.sm-w6 {
      width: 50%; }
    .col.sm-w7 {
      width: 58.33333%; }
    .col.sm-w8 {
      width: 66.66667%; }
    .col.sm-w9 {
      width: 75%; }
    .col.sm-w10 {
      width: 83.33333%; }
    .col.sm-w11 {
      width: 91.66667%; } }
  @media screen and (min-width: 992px) {
    .col.w1 {
      width: 8.33333%; }
    .col.w2 {
      width: 16.66667%; }
    .col.w3 {
      width: 25%; }
    .col.w4 {
      width: 33.33333%; }
    .col.w5 {
      width: 41.66667%; }
    .col.w6 {
      width: 50%; }
    .col.w7 {
      width: 58.33333%; }
    .col.w8 {
      width: 66.66667%; }
    .col.w9 {
      width: 75%; }
    .col.w10 {
      width: 83.33333%; }
    .col.w11 {
      width: 91.66667%; } }

body > main {
  margin: 60px auto 0;
  max-width: 1200px;
  padding: 15px; }
  body > main > p {
    max-width: 600px; }

nav.navbar {
  display: block;
  background: #F4F4F4;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: 0px; }

ul.nav-menu {
  display: block;
  max-width: 1200px;
  margin: 0 auto; }
  ul.nav-menu:before, ul.nav-menu:after {
    content: " ";
    display: table; }
  ul.nav-menu:after {
    clear: both; }
  ul.nav-menu li {
    display: block;
    float: left; }
  ul.nav-menu a {
    display: block;
    padding: 7.5px 15px;
    color: #32313d; }
    ul.nav-menu a:hover {
      background-color: #FFFFFF; }

#__bs_notify__ {
  display: none !important; }

.btn {
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  position: relative;
  bottom: 0px;
  display: inline-block;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  padding: 0 10px;
  min-width: 30px0.80952rem;
  min-height: 30px;
  border-width: 0;
  border-style: solid;
  border-radius: 2px;
  font-size: 0.80952rem;
  line-height: 30px;
  border-color: transparent;
  background-color: #32313d;
  color: white; }
  @media screen and (max-width: 992px) {
    .btn:after {
      position: absolute;
      top: -6px;
      right: -6px;
      bottom: -6px;
      left: -6px;
      content: ''; } }
  .btn:hover {
    border-color: transparent;
    background-color: #5c68ff;
    color: white; }
  .btn:active {
    border-color: transparent;
    background-color: #ffde00;
    color: #32313d; }
  .btn.orange {
    border-color: transparent;
    background-color: #ff3c00;
    color: white; }
    .btn.orange:hover {
      border-color: transparent;
      background-color: #e63600;
      color: white; }
    .btn.orange:active {
      border-color: transparent;
      background-color: #ffde00;
      color: #32313d; }
  .btn.green {
    border-color: transparent;
    background-color: #00d747;
    color: white; }
    .btn.green:hover {
      border-color: transparent;
      background-color: #00be3f;
      color: white; }
    .btn.green:active {
      border-color: transparent;
      background-color: #ffde00;
      color: #32313d; }
  .btn.yellow {
    border-color: transparent;
    background-color: #ffde00;
    color: white; }
    .btn.yellow:hover {
      border-color: transparent;
      background-color: #e6c800;
      color: white; }
    .btn.yellow:active {
      border-color: transparent;
      background-color: #ffde00;
      color: #32313d; }
