// Golden Ratio Typography
// ======================================================================
// Golden Ratio Math
// Many thanks to Chris Pearson's scary math skills http://t.co/KoeUoEWrNS
// and his Golden Ratio Calculator http://t.co/6MyXPtRrlu
// @author Greg Rickaby
// ======================================================================

// 1.61803398874989 or "The Golden Ratio"
$phi: (1 + sqrt(5)) / 2
//1.27201964951 | sqrt($phi) because it resolves to some shit value
$sqrtphi: 1.272
$xoo: 1 / (2 * $phi)
// Line-height
$yoo: sqrt($ContentWidth) / $phi
$zoo: $phi - $xoo * (1 - ($ContentWidth / $yoo))

// Default Font Size -----------------------------------
// Calculated font size based on $ContentWidth.
// ---------------------------------------------
@function calc-baseFS()
	$foo: sqrt($ContentWidth) / $phi
	@return round($foo)


=baseFS()
	font-size: (calc-baseFS() / calc-baseFS()) + rem
	// font-size: calc-baseFS() + px
	// line-height: calc-baseFS() / $yoo
	@if ($debugmode == on)
		+showunit($baseFS)

$baseFS: (calc-baseFS() / calc-baseFS()) + rem


// Default Line Height----------------------------------
@function calc-baseLH()
	$foobar: sqrt($ContentWidth) / $phi
	$foo: calc-baseFS() * ($phi - $xoo * (1 - ($ContentWidth / pow(calc-baseFS() * $phi, 2))))
	$fo: $foo / $foobar
	@return $fo

=baseLH()
	line-height: calc-baseLH()


// Title Size --------------------------------------
@function calcTitleSize()
	$foo: calc-baseFS() * pow($phi, 2)
	@return round($foo)

$grTitleSize: (calcTitleSize() / calc-baseFS()) + rem

=grTitleSize()
	font-size: (calcTitleSize() / calc-baseFS()) + rem
	line-height: calcTitleSize() / $yoo / 2
	// font-size: calcTitleSize() + px
	
	@if ($debugmode == on)
		+showunit($grTitleSize)


// H1 Size -----------------------------------
@function calc-H1()
	$foo: calc-baseFS() * $phi
	@return round($foo)

$gr-H1: calc-H1() / calc-baseFS() + rem

=gr-H1()
	font-size: calc-H1() / calc-baseFS() + rem
	// font-size: calc-H1() + px
	// line-height: calc-H1() / $yoo
	@if ($debugmode == on)
		+showunit($gr-H1)



// Sub-headline Size -----------------------------------
// Caclulated sub-headline size based on $ContentWidth.
// -----------------------------------------------------
@function calc-H2()
	$foo: calc-baseFS() * $sqrtphi
	@return round($foo)

$gr-H2: (calc-H2() / calc-baseFS()) + rem

=gr-H2()
	font-size: (calc-H2() / calc-baseFS()) + rem
	// font-size: calc-H2() + px
	// line-height: calc-H2() / $yoo
	@if ($debugmode == on)
		+showunit($gr-H2)


// Sub-headline Size -----------------------------------
// Caclulated sub-headline size based on $ContentWidth.
// -----------------------------------------------------
@function calc-H3()
	$foo: calc-baseFS() + $sqrtphi
	@return round($foo)

$gr-H3: (calc-H3() / calc-baseFS()) + rem

=gr-H3()
	font-size: (calc-H3() / calc-baseFS()) + rem
	// font-size: calc-H3() + px
	// line-height: calc-H3() / $yoo
	//	 +showunit($gr-H3)


// Secondary (small) Text -------------------------------
@function calcSecondaryText()
	$foo: calc-baseFS() * (1 / $sqrtphi)
	@return round($foo)

$smalltext: (calcSecondaryText() / calc-baseFS()) + rem

=smalltext()
	font-size: (calcSecondaryText() / calc-baseFS()) + rem
	// font-size: calcSecondaryText() + px
	// line-height: calcSecondaryText() / $yoo
	@if ($debugmode == on)
		+showunit($smalltext)
	

// Custom Line Height -----------------------------------
@function calcCustomLineHeight($target)
	$foobar: sqrt($ContentWidth) / $phi
	$foo: $target / $foobar
	@return $foo

=grCustomLineHeight($target)
	line-height: calcCustomLineHeight($target)

