@import 'reboot'


// The main stylesheet contains only
// the components used in the website.


// +debug(*)

nav.navbar
	display: block
	background: $gray-light
	+position(fixed, 0px, 0px, auto, 0px)

ul.nav-menu
	display: block
	max-width: $ContentWidth * 1px
	margin: 0 auto
	+clearfix
	li
		// padding: $boxpad/2 0
		display: block
		float: left
	a
		display: block
		padding: $boxpad/4 $boxpad/2
		&:hover
			background-color: $white
		color: $gray



#__bs_notify__
	// gets rid of the annoying box
	display: none!important




// Buttons ------------------------------------------
$button-padding: 10px
$button-font-size: $smalltext
$button-border-width: 0
$button-border-radius: 2px
$button-height: 30px

.btn
	// general
	+transition(100ms)
	+user-select(none)
	margin: 0
	position: relative
	bottom: 0px
	display: inline-block
	// vertical-align: top
	text-overflow: ellipsis
	text-decoration: none
	text-align: center
	cursor: pointer
	outline: none
	// structure
	padding: 0 $button-padding
	min-width: ($button-padding * 3) + $button-font-size
	min-height: $button-height
	border-width: $button-border-width
	border-style: solid
	border-radius: $button-border-radius
	
	// type
	font-size: $button-font-size
	line-height: $button-height
	
	@media screen and (max-width: $screen-md)
		// this is only needed for mobile devices
		&:after
			position: absolute
			top: -6px
			right: -6px
			bottom: -6px
			left: -6px
			content: ''
	
	// Default style
	+button-style(transparent, $gray, white, transparent, $blue, white, transparent, $yellow, $gray)

	&.orange
		+button-style(transparent, $orange, white, transparent, darken($orange, 5%), white, transparent, $yellow, $gray)
	&.green
		+button-style(transparent, $green, white, transparent, darken($green, 5%), white, transparent, $yellow, $gray)
	&.yellow
		+button-style(transparent, $yellow, white, transparent, darken($yellow, 5%), white, transparent, $yellow, $gray)
