@import 'reboot'
@import 'modal'

// The main stylesheet contains only
// the components used in the website.


.fade
	opacity: 0
	+transition(opacity .15s linear)
	&.in
		opacity: 1




=opacity($opacity)
	opacity: $opacity
	// IE8 filter
	$opacity-ie: ($opacity * 100)
	filter: alpha(opacity=$opacity-ie)




.modal-backdrop
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 99
	// z-index: $zindex-modal-background
	background-color: pink
	// background-color: $modal-backdrop-bg
	// Fade for backdrop
	&.fade
		+opacity(0)
	&.in
		+opacity(.5)


nav.navbar
	z-index: $zx-nav
	display: block
	background: $gray-light
	+position(fixed, 0px, 0px, auto, 0px)

ul.nav-menu
	display: block
	max-width: $ContentWidth * 1px
	margin: 0 auto
	+clearfix
	li
		// padding: $boxpad/2 0
		display: block
		float: left
	a
		display: block
		padding: $boxpad/4 $boxpad/2
		&:hover
			background-color: $white
		color: $gray



#__bs_notify__
	// gets rid of the annoying box
	display: none!important




// Buttons ------------------------------------------
$button-padding: 20px
$button-font-size: $baseFS
$button-border-width: 0
$button-border-radius: 2px
$button-height: 40px

.btn
	// general
	+transition(100ms)
	+user-select(none)
	margin: 0
	// position: relative
	// bottom: 0px
	display: inline-block
	// vertical-align: top
	text-overflow: ellipsis
	text-decoration: none
	text-align: center
	cursor: pointer
	outline: none
	// structure
	padding: 0 $button-padding
	min-width: ($button-padding * 3) + $button-font-size
	min-height: $button-height
	border-width: $button-border-width
	border-style: solid
	border-radius: $button-border-radius
	
	// type
	font-size: $button-font-size
	line-height: $button-height
	
	@media screen and (max-width: $screen-md)
		// this is only needed for mobile devices
		&:after
			position: absolute
			top: -6px
			right: -6px
			bottom: -6px
			left: -6px
			content: ''
	
	// Default style
	+button-style(transparent, $gray, white, transparent, $blue, white, transparent, $yellow, $gray)
	
	&.small
		font-size: $smalltext
	
	&.big
		font-size: $gr-H3
	
	&.orange
		+button-style(transparent, $orange, white, transparent, darken($orange, 5%), white, transparent, $yellow, $gray)
	&.green
		+button-style(transparent, $green, white, transparent, darken($green, 5%), white, transparent, $yellow, $gray)
	&.yellow
		+button-style(transparent, $yellow, white, transparent, darken($yellow, 5%), white, transparent, $yellow, $gray)
